.cashback {
  padding: 30px 15px;
}

.cashback__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cashback__title {
  font-size: 30px;
  font-weight: 700;
}

.cashback__copy {
  margin-top: 20px;
  font-weight: 400;
}

.cashback__button {
  border: 1px solid #aaa;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
}