.column {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.column img {
  display: block;
  height: 40px;
}

.column__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column__item {
  display: flex;
}