@media only screen and (max-width: 320px) {

  .nav {
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 1)
  }

  .nav_logo {
    margin: 0px 67px 0px 15px
  }

  .nav_lang {
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
    border: 1px solid black
  }
  
  .nav_lang_title {
    font-size: 12px;
    font-family: Inter;
    margin: 8px 6px 8px 8px;
  }

  .nav_land_logo {
    width: 9px;
    height: 6px;
    margin-right: 8px;
  }

  .nav_theme {
    height: 100%;
    max-width: 26px;
    max-height: 26px;
    margin-left: 20px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0px 15px;
  }

  .navbar_burger-line {
    width: 30px;
    height: 2px;
    background-color: black;
    margin-bottom: 7px;
  }
  
  .navbar_burger-line:last-child {
    margin-bottom: 0;
  }
}
