.menu {
  display: none;
  background: $menu-background-color;
}

.menu.active {
  display: block;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
}

.menu__item {
  padding: 24px 15px;
  font-size: 24px;
  border-bottom: $border-default;
}