.cashback {
  padding: $padding-section-sm;

  &__title {
    font-size: 26px;
    font-weight: 700;
    color: var(--color-primary);
  }
  
  &__copy:first-of-type {
    margin-top: 20px;
  }
  
  &__copy {
    margin-top: 10px;
    color: var(--color-primary);
  }
  
  &__button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid var(--border-color-primary);
    color: var(--color-primary);
  }
}
