.clients {
  padding: $padding-section-sm;

  &__brands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    color: var(--color-primary);
  }

  &__brands svg {
    fill: currentColor;
  }
}

