.download {
  padding: $section-padding;
}

.download__wrapper {
 @include wrapper($wrapper-default);
}

.download__title {
  font-size: 30px;
  font-weight: $font-weight;
}

.download__copy {
  margin-top: 20px;
  font-weight: 400;
}

.download__links {
  margin-top: 20px;
  width:fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.download__link {
  display: block;
  height: 44px;
  width: 150px;
}

.download__image-block {
  height: $img-height;
  border: $border-default;
  border-radius: 20px;
  overflow: hidden;
}

.download__image-block img{
 display: block;
 height: 100%;
 object-fit: cover;
}
