.footer {
  padding: 30px 15px 30px;
  background-color: #484848;
  color: --bg-color-primary;

  &__wrapper {
    display: grid;
    gap: 30px;
  }
  
  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  &__logo img {
    display: block;
    width: 216px;
  }
  
  &__dev img {
   display: block;
   height: 46px;
  }

  &__copy {
    color: $footer-color;
  }
}
