.warranty {
  padding: $section-padding;
}

.warranty__wrapper {
  @include wrapper($wrapper-default);
}

.warranty__title {
  font-size: $font-size-h2;
  font-weight: $font-weight;
}

.warranty__copy {
  margin-top: 20px;
  font-weight: 400;
}

.warranty__image-block {
  height: $img-height;
  border: $border-default;
  border-radius: 20px;
  overflow: hidden;
}

.warranty__image-block img{
  display: block;
  height: 100%;
  object-fit: cover;
}
