@mixin font_face(
  $path,
  $fileName,
  $family,
  $weight
) {
  @font-face {
    font-family: $family;
      src: url('#{$path}/#{$fileName}.woff2') format('woff2');
      src: url('#{$path}/#{$fileName}.woff') format('woff');
      src: url('#{$path}/#{$fileName}.ttf') format('truetype');
      font-weight: $weight;
      font-style: 400;
      font-display: swap;
}
}

@mixin wrapper($map) {
  display: map-get($map, display);
  flex-direction: map-get($map, flex-direction);
  gap: map-get($map, gap);
};