// Border-radius:
$border-radius-primary: 20px;
$border-radius-secondary: 5px;

// Section padding:
$section-padding: 30px 15px;
$padding-section-sm: 30px 15px;

// Column color:
$column-color: #fff;

// Footer color:
$footer-color: #fff;

// Modal color:
$modal-color: #aaa;
